[Desktop Entry]
Name=Glyph
Comment=Find applications and change or restore their icons
Exec=glyph
Icon=io.github.the0megastar.Glyph
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=icon;desktop;launcher;theme;
StartupNotify=true
StartupWMClass=io.github.the0megastar.Glyph
DBusActivatable=false
